@font-face {
    font-family: 'AlumniSans';
    src: url('font/AlumniSans-Regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'AlumniSans';
    src: url('font/AlumniSans-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'AlumniSans';
    src: url('font/AlumniSans-SemiBold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'AlumniSans';
    src: url('font/AlumniSans-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'WixMadeforText';
    src: url('font/WixMadeforText-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'WixMadeforText';
    src: url('font/WixMadeforText-Regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'WixMadeforText';
    src: url('font/WixMadeforText-ExtraBold.woff') format('woff');
    font-weight: 800;
}

h1 {
    font-size: 120px;
    margin: 0;
}

h2 {
    font-size: 80px;
    margin: 0;
}

h3 {
    font-size: 60px;
    margin: 0;
}

h4 {
    font-size: 46px;
    margin: 0;
}

h5 {
    font-size: 30px;
    margin: 0;
}

h6 {
    font-size: 24px;
    margin: 0;
}

p {
    margin: 0;
}


body {
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.fix_btn {
    width: 239px;
    height: 60px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #A3887B;
    color: #FFFFFF;
    font-family: 'WixMadeforText';
    font-size: 16px;
    margin: 0 auto;
    z-index: 10;
    border: 1px solid #A3887B;
}

.fix_btn:hover {
    background-color: #8c6659;
    cursor: pointer;
    border: 1px solid #8c6659;
}


#header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_container_title {
    width: 200px;
    height: 44px;
    margin: 0;
    font-weight: 800;
    font-family: 'WixMadeforText';
    font-size: 18px;
    color: #2D3047;
}

.header_container_menu_punkt {
    font-family: 'WixMadeforText';
    margin: 0;
    color: #556877;
}

.header_container_menu_punkt:hover {
    cursor: pointer;
    color: #8c6659;
}

.header_container_menu {
    width: 678px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #FFFBF9;
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid #DACFCA;
}

.header_container_contacts {
    width: 151px;
    height: 53px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.header_container_contacts_number {
    font-family: 'AlumniSans';
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    color: #2D3047;
}

.header_container_contacts_text {
    margin: 0;
    font-family: 'WixMadeforText';
    font-size: 14px;
    font-weight: 500;
    color: #A3887B;

}

.section_1 {
    background-color: #FFFBF9;
    height: 860px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 80px;
}

#section_1_container {
    display: flex;
    flex-direction: row;
    height: 860px;


}

.section_1_square {
    z-index: 0;
    position: absolute;
    width: 80px;
    height: 80px;
    margin: 0;
    background-color: #DACFCA;
}

.section_1_circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    left: -80px;
    background: linear-gradient(to left, #A3887B 20%, transparent 20%);
}

.section_1_div_photo {

    display: flex;
    align-items: flex-end;
    position: relative;
}

.section_1_div_back {
    width: 660px;
    height: 495px;
    background-color: #EDE7E5;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.back_text {
    width: 560px;
    height: 63px;
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-bottom: 43px;
    border-bottom: 2px solid #A3887B;
    align-items: center;
    justify-content: flex-end;
}

.back_h6 {
    font-family: 'AlumniSans';
    font-size: 24px;
    font-weight: bold;
    line-height: 130%;
    color: #A3887B;
    margin-right: 10px;
}

.img_arrow {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.back_h6:hover,
.img_arrow:hover {
    cursor: pointer;
}

.section_1_div_for_swiper {
    width: 660px;
    height: 740px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 40px;
    background-color: #ffffff;
}

.section_1_div_text {
    display: flex;
    flex-direction: column;
    width: 570px;
    height: 550px;
    padding-top: 160px;
    justify-content: space-between;
}

.section_1_div_text_1 {
    display: flex;
    flex-direction: row;
    width: 277px;
    height: 80px;
    align-items: center;
    position: relative;
}

.section_1_div_text_2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 390px;
    align-items: flex-start;
    justify-content: space-between;
}

.section_1_h1 {
    font-family: 'AlumniSans';
    font-size: 100px;
    line-height: 90%;
    font-weight: bold;
    color: #2D3047;
}

.section_1_div_text_btn {
    width: 231.3px;
    height: 60px;
    color: #ffffff;
    font-family: 'WixMadeforText';
    line-height: 140%;
    font-size: 16px;
    font-weight: normal;
    background-color: #A3887B;
    border: 0px solid transparent;
}

.section_1_h5 {
    font-family: 'AlumniSans';
    font-weight: bold;
    font-size: 30px;
    line-height: 110%;
    color: #2D3047;
    margin-left: 40px;
    position: absolute;
    z-index: 1;
}

.swiper {
    position: absolute;
    width: 610px;
    height: 700px;
}

.section_1_div_for_arrow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    position: absolute;
    justify-content: space-between;
    left: 0;
    top: 490px;
}

:root {
    /* --swiper-theme-color: #007aff; */
    --swiper-theme-color: #DACFCA;
}

.swiper-button-next {
    color: #DACFCA;
}

.img_in_slider {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_2 {
    background-color: #ffffff;
    height: 960px;
    width: 100%;
}

#section_2_container {
    display: flex;
    height: 100%;
    align-items: center;

}

.section_2_container_house {
    width: 1170px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section_2_container_house_photoinfo {
    width: 100%;
    height: 470px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section_2_container_house_gridinfo {
    width: 100%;
    height: 270px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.section_2_container_house_gridinfo_box {
    position: relative;
    z-index: 0;
    width: 198px;
    height: 188px;
    padding: 50px 40px;
    border: 1px solid #dacfca;
    transition: all .3s ease;



    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section_2_container_house_gridinfo_box:before,
.section_2_container_house_gridinfo_box:after {
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    background: #FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
}

.section_2_container_house_gridinfo_box:before {
    width: calc(100% + 4px);
    height: 80%;
    transition: height 0.6s;
}

.section_2_container_house_gridinfo_box:after {
    height: calc(100% + 4px);
    width: 90%;
    transition: width 0.6s;
}

.section_2_container_house_gridinfo_box:hover:before,
.section_2_container_house_gridinfo_box:focus:before {
    height: 50%;
}

.section_2_container_house_gridinfo_box:hover:after,
.section_2_container_house_gridinfo_box:focus:after {
    width: 75%;
}


.section_2_grid_p {
    font-family: 'WixMadeforText';
    line-height: 140%;
    font-weight: normal;
    font-size: 18px;
    color: #556877;
    z-index: 2;
    position: relative;
}


.section_2_grid_h2 {
    position: relative;
    color: #A3887B;
    font-family: 'AlumniSans';
    size: 80px;
    font-weight: bold;
    line-height: 100%;
    z-index: 2;
}

.section_2_grid_h5 {
    color: #A3887B;
    font-family: 'AlumniSans';
    size: 30px;
    font-weight: bold;
    line-height: 130%;
}

.srok {
    display: flex;
    height: 120px;
    flex-direction: column;
    align-items: center;
}

.section_2_photo {
    width: 470px;
    height: 470px;
    object-fit: cover;
}

.section_2_container_house_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section_2_container_house_info_title {
    font-family: 'AlumniSans';
    font-weight: bold;
    margin: 0 0 40px 0;
}

.section_2_container_house_info_text {
    width: 570px;
    margin: 0;
    margin-bottom: 20px;
    color: #556877;
    font-family: 'WixMadeforText';
    font-size: 18px;
    font-weight: normal;
}

#p3 {
    margin: 0;
}

.div_for_adres {
    display: flex;
    flex-direction: row;
    margin: 0 0 20px 0;
}

.photo_adres {
    margin: 0;
    object-fit: cover;
    width: 24px;
    height: 24px;
}

.section_2_container_house_info_adres {
    font-family: 'WixMadeforText';
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 0 10px;
    color: #A3887B;
}

a {
    text-decoration: none;
    font-family: 'WixMadeforText';
    margin: 0;
    color: #556877;
}

.menu_a:hover {
    cursor: pointer;
    color: #8c6659;
}

.section_3 {
    width: 100%;
    height: 860px;
    background-color: #FFFBF9;
    display: flex;
    align-items: center;
}

#section_3_container {
    display: flex;
    flex-direction: row;
    height: 724px;
    background-color: transparent;
    justify-content: space-between;
}

.section_3__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.section_3__h2 {
    width: 500px;
    height: 160px;
    font-family: 'AlumniSans';
    font-weight: bold;
    color: #2D3047;
    font-size: 80px;
    line-height: 100%;
}

.section_3__div_buttons {
    width: 470px;
    height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section_3__div_buttons_item {
    width: 468px;
    height: 109px;
    display: flex;
    flex-direction: row;
    border: 1px solid #DACFCA;
    align-items: center;
}

.section_3__div_buttons_item:active,
.section_3__div_buttons_item:hover,
.section_3__div_buttons_item:focus {

    border: 1px solid #A3887B;
}

.section_3__div_for_info {
    width: 470px;
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section_3__p_text {
    width: 470px;
    height: 75px;
    font-size: 18px;
    font-family: 'WixMadeforText';
    font-weight: normal;
    color: #556877;
    margin: 0;
}

.section_3__div_for_infobox {
    display: flex;
    flex-direction: row;
    width: 470px;
    height: 147px;
    justify-content: space-between;
}

.section_3__infobox1 {
    width: 200px;
    height: 147px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section_3__infobox2 {
    width: 200px;
    height: 117px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section_3__h6 {
    font-family: 'AlumniSans';
    font-size: 24px;
    font-weight: bold;
    color: #2D3047;
    line-height: 140%;
}

.section_3__p_m_infobox {
    font-family: 'AlumniSans';
    font-size: 46px;
    font-weight: bold;
    color: #A3887B;
    line-height: 110%;
}

.section_3__p_text_infobox {
    color: #556877;
    font-family: 'WixMadeforText';
    font-size: 18px;
    font-weight: normal;
    line-height: 140%;
}

.section_3__div_for_number {
    margin: 0 30px;
    width: 66px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
}

.section_3__square_original {
    width: 51px;
    height: 51px;
    background-color: #EDE7E5;
    position: absolute;
    display: block;
    z-index: 0;
}

.section_3__number_original {
    font-family: 'AlumniSans';
    font-weight: bold;
    line-height: 110%;
    font-size: 46px;
    color: #DACFCA;
    /* color: #A3887B; */
    position: relative;
    left: 35px;
    z-index: 10;
    display: block;

}



.section_3_h5_original {
    width: 224px;
    height: 39px;
    color: #DACFCA;
    /* color: #2D3047; */
    font-family: 'AlumniSans';
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    display: block;
}

.section_3__number_hovered {
    color: #A3887B;
    display: none;
    font-family: 'AlumniSans';
    font-weight: bold;
    line-height: 110%;
    font-size: 46px;
    position: relative;
    left: 35px;
    z-index: 10;


}

.section_3__square_hovered {
    display: none;
    width: 51px;
    height: 51px;
    background-color: #EDE7E5;
    position: absolute;
    z-index: 0;
}

.section_3__h5_hovered {
    color: #2D3047;
    display: none;
    width: 224px;
    height: 39px;
    font-family: 'AlumniSans';
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
}



.section_3__div_buttons_item:hover .section_3__square_original {
    display: none;
}

.section_3__div_buttons_item:hover .section_3__number_original {
    display: none;
}

.section_3__div_buttons_item:hover .section_3_h5_original {
    display: none;
}

.section_3__div_buttons_item:hover .section_3__square_hovered {
    display: block;
}

.section_3__div_buttons_item:hover .section_3__number_hovered {
    display: block;
}

.section_3__div_buttons_item:hover .section_3__h5_hovered {
    display: block;
}

.section_3__div_buttons_item:hover {
    cursor: pointer;
}

.section_3__div_for_appart {
    display: flex;
    flex-direction: column;
    width: 581px;
    height: 720px;
    justify-content: space-between;
    margin: 0;
    align-items: center;
}

.img_morning {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 0;
    position: absolute;
    left: 200px;
    top: 20px;
}

.img_afternoon {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 0;
    position: absolute;
    left: 200px;
    bottom: 20px;
}

.img_apart {
    width: 581px;
    height: 499px;
    object-fit: cover;
    margin: 0;
    position: absolute;
    z-index: 1;
}

.img_ellipse {
    width: 100%;
    height: 50px;
    object-fit: contain;
}

.div_for_ellipse {
    width: 430px;
    height: 50px;
    margin: 0;
    position: relative;

}

.div_for_apart_img {
    width: 581px;
    height: 499px;
    position: relative;
}

.section_3_opacity_div {
    width: 581px;
    height: 499px;
    position: absolute;
    z-index: 2;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.section_3_opacity_div_1 {
    width: 50%;
    height: 499px;
    z-index: 2;
    background-color: #EDE7E5;
    opacity: 95%;
    display: block;
    transition: opacity 0.4s ease;
}

.section_3_opacity_div_2 {
    width: 50%;
    height: 499px;
    z-index: 2;
    display: block;
    opacity: 95%;
    background-color: #EDE7E5;
    transition: opacity 0.4s ease;
}





.section_4 {
    width: 100%;
    height: 850px;
    display: flex;
    align-items: center;
}

#section_4_container {
    height: 690px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section_4_h2 {
    width: 734px;
    height: 80px;
    color: #2D3047;
    font-family: 'AlumniSans';
    font-size: 80px;
    line-height: 100%;
    font-weight: bold;
}

.section_4_grid {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 30px;

}

.section_4_grid_box {
    width: 210px;
    height: 210px;
    border: 1px solid #DACFCA;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 0;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    transition: all .3s ease;
}

.grid_box_info {
    width: 210px;
    height: 117px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;


}

.section_4_grid_box:before,
.section_4_grid_box:after {
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    background: #FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
}

.section_4_grid_box:before {
    width: calc(100% + 4px);
    height: 80%;
    transition: height 0.6s;
}

.section_4_grid_box:after {
    height: calc(100% + 4px);
    width: 90%;
    transition: width 0.6s;
}

.section_4_grid_box:hover:before,
.section_4_grid_box:focus:before {
    height: 50%;
}

.section_4_grid_box:hover:after,
.section_4_grid_box:focus:after {
    width: 75%;
}



.grid_box_h6 {
    font-family: 'AlumniSans';
    font-size: 24px;
    font-weight: bold;
    line-height: 130%;
    color: #2D3047;
    margin: 0;
}

.grid_box_text {
    font-family: 'WixMadeforText';
    font-size: 18px;
    font-weight: normal;
    line-height: 140%;
    color: #556877;
    margin: 0;
}

.photo_grid_box {
    width: 60px;
    height: 60px;
    z-index: 2;
}

.img_grid_box {
    object-fit: cover;
}

#grid_box_h6_number {
    color: #A3887B;
    font-family: 'AlumniSans';
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
}

#grid_box_text {
    width: 100%;
    text-align: left;
}

#section_4_grid_box_number {
    border: 2px solid #A3887B;
}

.section_1_div_for_arrow_adaptiv {
    display: none;
    z-index: 9;
}

.section_1_2 {
    display: none;
}

.section_1_div_text_btn:hover {
    cursor: pointer;
    background-color: #8c6659;
}

.header_container_contacts_text:hover,
.header_container_contacts_number:hover,
.back_h6:hover {
    color: #8c6659;
    cursor: pointer;
}

#arrow_adaptiv:hover {
    border: 1px solid #8c6659;
}

.section_1_2 {
    background-color: #FFFBF9;
}

@media only screen and (max-width: 1700px) and (min-width: 1690px) {
    .container {
        width: 1700px;
    }

    #header_container {

        justify-content: space-around;
    }

    #section_1_container {
        justify-content: center;
        margin-left: 100px;
    }

    #section_2_container {
        justify-content: center;
    }

    #section_3_container {
        width: 1170px;
        justify-content: space-between;
    }

    .section_1_div_photo {
        width: 700px;
    }
}

@media only screen and (max-width: 1690px) and (min-width: 1530px) {
    .section_1_div_for_arrow {
        display: none;
    }

    .section_1_div_for_arrow_adaptiv {
        display: flex;
        width: 150px;
        height: 100%;
        position: absolute;
        justify-content: space-between;
        align-items: center;
        z-index: 9;
    }

    #arrow_adaptiv {
        width: 50px;
        height: 50px;
        border: 1px solid #DACFCA;
        border-radius: 50%;
    }

    :root {
        --swiper-navigation-size: 20px;
    }

    .section_1_2 {
        display: flex;
        height: 100px;
        width: 100%;
    }

    #container_1_2 {
        display: flex;
        position: relative;
        z-index: 9;
        width: 1290px;
        margin-right: 110px;
        justify-content: flex-end;
    }

}

@media only screen and (max-width: 1530px) and (min-width: 1320px) {
    .section_1_div_for_arrow {
        display: none;
    }

    .section_1_div_for_arrow_adaptiv {
        display: flex;
        width: 150px;
        height: 100%;
        position: absolute;
        justify-content: space-between;
        align-items: center;
    }

    #arrow_adaptiv {
        width: 50px;
        height: 50px;
        border: 1px solid #DACFCA;
        border-radius: 50%;
    }

    :root {
        --swiper-navigation-size: 20px;
    }

    .section_1_2 {
        display: flex;
        height: 100px;
        width: 100%;
    }

    #container_1_2 {
        display: flex;
        position: relative;
        width: 1290px;
        margin-right: 110px;
        justify-content: flex-end;
    }

}

@media only screen and (max-width: 1320px) and (min-width: 1024px) {
    .section_1_div_for_arrow {
        display: none;
    }

    .container {
        width: 1024px;
    }

    .section_1_div_for_arrow_adaptiv {
        display: flex;
        width: 150px;
        height: 100%;
        position: absolute;
        justify-content: space-between;
        align-items: center;
    }

    #arrow_adaptiv {
        width: 50px;
        height: 50px;
        border: 1px solid #DACFCA;
        border-radius: 50%;
    }

    :root {
        --swiper-navigation-size: 20px;
    }

    .section_1_2 {
        display: flex;
        height: 100px;
        width: 100%;
    }

    #container_1_2 {
        display: flex;
        position: relative;
        width: 1024px;
        justify-content: flex-end;
    }

    .section_1 {
        height: 660px;
    }

    #section_1_container {
        height: 660px;
        justify-content: space-between;
    }

    .section_1_div_text {
        width: 495px;
        padding-top: 20px;
    }

    .section_1_h1 {
        font-size: 75px;
    }

    .section_1_div_for_swiper {
        width: 490px;
        height: 540px;
        left: 0;
        justify-content: center;
    }

    .header_container_title {
        font-size: 18px;
    }

    .header_container_menu {
        width: 600px;
    }

    .swiper {
        width: 455px;
        height: 500px;
    }

    .swiper_wrapper {
        width: 100%;
    }

    .section_1_div_back {
        width: 490px;
    }

    .back_text {
        width: 470px;
    }

    .section_1_div_photo {
        width: 490px;
    }

    .section_2_container_house {
        width: 1024px;
    }

    .section_2_photo {
        width: 420px;
        height: 420px;
    }

    .section_2_container_house_gridinfo_box {
        width: 146px;
    }

    .section_2_grid_p {
        text-align: center;
    }

    .section_3 {
        height: 1500px;

    }

    #section_3_container {
        height: 1400px;
        flex-direction: column-reverse;
    }

    .section_3__div_for_appart {
        width: 100%;
    }

    .section_3__info {
        height: 750px;
    }

    .section_3__h2 {
        width: 100%;
    }

    .section_3__div_buttons {
        width: 100%;
    }

    .section_3__div_buttons_item {
        width: 100%;
    }

    .section_3__div_for_info,
    .section_3__p_text {
        width: 100%;

    }

    .section_3__div_for_infobox {
        width: 100%;
        justify-content: space-evenly;
    }

    .section_4 {
        height: 1100px;
    }

    #section_4_container {
        height: 1000px;
    }

    .section_4_grid {
        grid-template-columns: repeat(3, 3fr);
    }

}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .section_1_div_for_arrow {
        display: none;
    }

    .container {
        width: 768px;
    }


    .section_1_div_for_arrow_adaptiv {
        display: flex;
        width: 150px;
        height: 100%;
        position: absolute;
        justify-content: space-between;
        align-items: center;
    }

    #arrow_adaptiv {
        width: 50px;
        height: 50px;
        border: 1px solid #DACFCA;
        border-radius: 50%;
    }

    :root {
        --swiper-navigation-size: 20px;
    }

    .section_1_2 {
        display: flex;
        height: 100px;
        width: 100%;
    }

    #container_1_2 {
        display: flex;
        position: relative;
        justify-content: flex-end;
    }

    .section_1 {
        height: 500px;
    }

    #section_1_container {
        height: 500px;
        justify-content: space-between;
    }

    .section_1_div_text {
        width: 370px;
        height: 480px;
        padding-top: 20px;
        padding-left: 20px;
    }

    .section_1_div_text_2 {
        height: 340px;
    }

    .section_1_h1 {
        font-size: 45px;
    }

    .section_1_div_for_swiper {
        width: 370px;
        height: 400px;
        left: 0;
        justify-content: center;
    }

    .header_container_title {
        font-size: 18px;
    }

    .header_container_menu {
        display: none;
    }

    .swiper {
        width: 325px;
        height: 360px;
    }

    .swiper_wrapper {
        width: 100%;
    }

    .section_1_div_back {
        width: 370px;
    }

    .back_text {
        width: 350px;
    }

    .section_1_div_photo {
        width: 370px;
    }

    .section_2_container_house {
        justify-content: space-evenly;
        align-items: center;
        width: 768px;
        height: 1300px;
    }

    .section_2 {
        height: 1300px;
    }


    .section_2_container_house_photoinfo {
        flex-direction: column;
        height: 870px;
    }

    .section_2_photo {
        width: 100%;
        height: 420px;
    }


    .section_2_container_house_gridinfo {
        height: auto;
        gap: 20px;
        grid-template-columns: repeat(2, 2fr);
    }

    .section_2_container_house_gridinfo_box {
        width: 325px;
        height: 120px;
        gap: 20px;
        padding: 20px;
    }

    .section_2_container_house_info_text {
        width: 100%;
    }

    .section_2_grid_p {
        text-align: center;
    }

    .section_2_grid_h2 {
        font-size: 50px;
    }

    .section_2_grid_h5 {
        font-size: 20px;
    }

    .srok {
        height: 100px;
    }

    .section_3 {
        height: 1600px;

    }

    #section_3_container {
        height: 1500px;
        flex-direction: column-reverse;
    }

    .section_3__div_for_appart {
        width: 100%;
    }

    .section_3__info {
        height: 750px;
    }

    .section_3__h2 {
        width: 100%;
        font-size: 60px;
        text-align: center;
    }

    .section_3__div_buttons {
        width: 100%;
        align-items: center;
    }

    .section_3__div_buttons_item {
        width: 95%;

    }

    .section_3__div_for_info,
    .section_3__p_text {
        width: 100%;

    }

    .section_3__div_for_infobox {
        width: 100%;
        justify-content: space-evenly;
    }

    .section_4 {
        height: 1200px;
    }

    #section_4_container {
        height: 1100px;
    }

    .section_4_h2 {
        font-size: 70px;
        text-align: center;
    }

    .section_4_grid {
        grid-template-columns: repeat(3, 3fr);
    }

    .section_4_grid_box {
        width: 170px;
        height: 230px;
    }

    .grid_box_info {
        width: 170px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 420px) {
    .section_1_div_for_arrow {
        display: none;
    }

    .container {
        width: 420px;
    }


    .section_1_div_for_arrow_adaptiv {
        display: flex;
        width: 150px;
        height: 100%;
        position: absolute;
        justify-content: space-between;
        align-items: center;
    }

    #arrow_adaptiv {
        width: 50px;
        height: 50px;
        border: 1px solid #DACFCA;
        border-radius: 50%;
    }

    :root {
        --swiper-navigation-size: 20px;
    }

    .section_1_2 {
        display: flex;
        height: 100px;
        width: 100%;
    }

    #header_container {
        justify-content: space-around;
    }


    #container_1_2 {
        display: flex;
        position: relative;
        width: 420px;
        justify-content: flex-end;
    }

    .section_1 {
        height: 1000px;
    }

    .header_container_contacts_number {
        font-size: 22px;
    }

    .header_container_contacts_text {
        font-size: 12px;
    }

    #section_1_container {
        height: 900px;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .section_1_div_text {
        width: 400px;
        height: 350px;
        padding-top: 20px;
        align-items: center;
    }

    .section_1_div_text_2 {
        height: 220px;
        align-items: center;
    }

    .section_1_h1 {
        text-align: center;
        font-size: 50px;
    }

    .section_1_h5 {
        margin: 0;
        width: 100%;
        font-size: 25px;
        text-align: center;
    }

    .section_1_div_text_1 {
        width: 95%;
    }

    .section_1_square,
    .section_1_circle,
    .br_s1 {
        display: none;
    }

    .section_1_div_for_swiper {
        width: 400px;
        height: 400px;
        left: 0;
        justify-content: center;
    }

    .header_container_title {
        font-size: 18px;
    }

    .header_container_menu {
        display: none;
    }

    .swiper {
        width: 370px;
        height: 370px;
    }

    .swiper_wrapper {
        width: 100%;
    }

    .section_1_div_back {
        width: 400px;
    }

    .back_text {
        width: 370px;
    }

    .section_1_div_photo {
        width: 400px;
        height: 500px;
    }

    .section_2_container_house {
        justify-content: space-evenly;
        align-items: center;
        width: 420px;
        height: 1500px;
    }

    .section_2 {
        height: 1500px;
    }


    .section_2_container_house_photoinfo {
        flex-direction: column;
        height: 950px;
    }

    .section_2_photo {
        width: 100%;
        height: 420px;
    }


    .section_2_container_house_gridinfo {
        height: auto;
        gap: 20px;
        grid-template-columns: repeat(2, 2fr);
    }

    .section_2_container_house_gridinfo_box {
        width: 150px;
        height: 180px;
        gap: 20px;
        padding: 20px;
    }

    .section_2_container_house_info_text {
        width: 100%;
    }

    .section_2_grid_p {
        text-align: center;
    }

    .section_2_grid_h2 {
        font-size: 50px;
    }

    .section_2_grid_h5 {
        font-size: 20px;
    }

    .srok {
        height: 100px;
    }

    .section_3 {
        height: 1600px;

    }

    .div_for_apart_img {
        width: 410px;
        height: 320px;
    }

    .img_apart {
        width: 410px;
        height: 320px;
    }

    .section_3_opacity_div {
        width: 410px;
        height: 320px;
    }

    .section_3_opacity_div_1,
    .section_3_opacity_div_2 {
        height: 320px;
    }

    #section_3_container {
        height: 1300px;
        flex-direction: column-reverse;
    }

    .section_3__div_for_appart {
        width: 100%;
        height: 500px;
    }

    .section_3__info {
        height: 750px;
    }

    .section_3__h2 {
        width: 100%;
        font-size: 60px;
        text-align: center;
    }

    .section_3__div_buttons {
        width: 100%;
        align-items: center;
    }

    .section_3__div_buttons_item {
        width: 95%;

    }

    .section_3__div_for_info,
    .section_3__p_text {
        width: 100%;

    }

    .section_3__div_for_infobox {
        width: 100%;
        justify-content: space-evenly;
    }

    .section_4 {
        height: 1600px;
    }

    #section_4_container {
        height: 1500px;
    }

    .section_4_h2 {
        width: 100%;
        height: 180px;
        font-size: 60px;
        text-align: center;
    }

    .section_4_grid {
        grid-template-columns: repeat(2, 5fr);
    }

    .section_4_grid_box {
        width: 150px;
        height: 230px;
        padding: 15px;
    }

    .grid_box_info {
        width: 140px;
    }

    .grid_box_h6 {
        font-size: 18px;
    }

    .grid_box_text {
        font-size: 14px;
    }

    .div_for_ellipse {
        width: 420px;
    }
}

@media only screen and (max-width: 420px) and (min-width: 320px) {
    .section_1_div_for_arrow {
        display: none;
    }

    .container {
        width: 320px;
    }


    .section_1_div_for_arrow_adaptiv {
        display: flex;
        width: 150px;
        height: 100%;
        position: absolute;
        justify-content: space-between;
        align-items: center;
    }

    #arrow_adaptiv {
        width: 50px;
        height: 50px;
        border: 1px solid #DACFCA;
        border-radius: 50%;
    }

    :root {
        --swiper-navigation-size: 20px;
    }

    .section_1_2 {
        display: flex;
        height: 100px;
        width: 100%;
    }

    #header_container {
        justify-content: flex-start;
        justify-content: space-around;
    }


    #container_1_2 {
        display: flex;
        position: relative;
        width: 320px;
        justify-content: flex-end;
    }

    .section_1 {
        height: 1000px;
    }

    .header_container_contacts_number {
        font-size: 22px;
    }

    .header_container_contacts_text {
        font-size: 12px;
    }

    #section_1_container {
        height: 900px;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .section_1_div_text {
        width: 300px;
        height: 350px;
        padding-top: 20px;
        align-items: center;
    }

    .section_1_div_text_2 {
        height: 220px;
        align-items: center;
    }

    .section_1_h1 {
        text-align: center;
        font-size: 50px;
    }

    .section_1_h5 {
        margin: 0;
        width: 100%;
        font-size: 25px;
        text-align: center;
    }

    .section_1_div_text_1 {
        width: 95%;
    }

    .section_1_square,
    .section_1_circle,
    .br_s1 {
        display: none;
    }

    .section_1_div_for_swiper {
        width: 300px;
        height: 400px;
        left: 0;
        justify-content: center;
    }

    .header_container_contacts {
        justify-content: flex-start;
    }

    .header_container_title {
        font-size: 16px;
    }

    .header_container_menu {
        display: none;
    }

    .swiper {
        width: 270px;
        height: 270px;
    }

    .swiper_wrapper {
        width: 100%;
    }

    .section_1_div_back {
        width: 300px;
    }

    .back_text {
        width: 270px;
    }

    .section_1_div_photo {
        width: 300px;
        height: 500px;
    }

    .section_2_container_house {
        justify-content: space-evenly;
        align-items: center;
        width: 320px;
        height: 1500px;
    }

    .section_2 {
        height: 1500px;
    }

    .section_2_container_house_info_title {
        text-align: center;
    }

    .section_2_container_house_info_adres {
        font-size: 16px;
    }

    .section_2_container_house_info_text {
        text-align: justify;
    }

    .section_2_container_house_photoinfo {
        flex-direction: column;
        height: 950px;
    }

    .section_2_photo {
        width: 100%;
        height: 420px;
    }


    .section_2_container_house_gridinfo {
        height: auto;
        gap: 20px;
        grid-template-columns: repeat(2, 2fr);
    }

    .section_2_container_house_gridinfo_box {
        width: 105px;
        height: 130px;
        gap: 20px;
        padding: 20px;
    }

    .section_2_container_house_info_text {
        width: 100%;
    }

    .section_2_grid_p {
        text-align: center;
    }

    .section_2_grid_h2 {
        font-size: 50px;
    }

    .section_2_grid_h5 {
        font-size: 20px;
    }

    .srok {
        height: 100px;
    }

    .section_3 {
        height: 1700px;

    }

    .div_for_apart_img {
        width: 310px;
        height: 220px;
    }

    .img_apart {
        width: 310px;
        height: 220px;
    }

    .section_3_opacity_div {
        width: 310px;
        height: 220px;
    }

    .section_3_opacity_div_1,
    .section_3_opacity_div_2 {
        height: 220px;
    }

    #section_3_container {
        height: 1500px;
        justify-content: space-around;
        flex-direction: column-reverse;
    }

    .section_3__div_for_appart {
        width: 100%;
        height: 500px;
    }

    .section_3__info {
        height: 850px;
    }

    .section_3__h2 {
        width: 100%;
        font-size: 40px;
        text-align: center;
    }

    .section_3__div_buttons {
        width: 100%;
        align-items: center;
    }

    .section_3__h5_hovered,
    .section_3_h5_original {
        height: auto;
    }

    .section_3__div_buttons_item {
        width: 95%;

    }

    .section_3__div_for_info {
        width: 100%;
        height: 400px;
    }

    .section_3__p_text {
        width: 100%;
        height: 100px;

    }

    .section_3__div_for_infobox {
        flex-direction: column;
        height: 300px;
        width: 100%;
        justify-content: space-evenly;
    }

    .section_3__infobox1,
    .section_3__infobox2 {
        width: 100%;
    }

    .section_4 {
        height: 2500px;
    }

    #section_4_container {
        height: 2500px;
    }

    .section_4_h2 {
        width: 100%;
        height: 180px;
        font-size: 50px;
        text-align: center;
    }

    .section_4_grid {
        grid-template-columns: repeat(1, 8fr);
    }

    .section_4_grid_box {
        width: 210px;
        height: 230px;
        padding: 15px;
    }

    .grid_box_info {
        width: 200px;
    }

    .grid_box_h6 {
        font-size: 20px;
    }

    .grid_box_text {
        font-size: 16px;
    }

    .div_for_ellipse {
        width: 320px;
    }

    .img_morning,
    .img_afternoon {
        left: 50%;
    }
}
